.name-header {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    font-weight: 600;

    .name {
        color: $green;
        // font-size: 3rem;
        font-size: 2vw;
    }

    .title {
        color: $primary;
        font-size: 1vw;
    }
}